---
title: everything sabr - blog
description: me writing for me, no topic, no rules
layout: base.njk
heading: blog
---
<section class="h-feed">
<h2 class="p-name visually-hidden">everything sabr blog</h2>
<p class="p-summary">{{ description }}</p>
<ul class="post-list">
{%- for post in collections.posts | reverse %}
    <li class="h-entry">
        <time class="post-date dt-published" datetime="{{ post.date | readableDate }}">{{ post.date | readableDate }}</time>
        <a class="u-url p-name" href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
{%- endfor %}
</ul>
</section>
