<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="dark">
        {%- for link in relMe %}
        <link rel="me" href="{{ link }}">
        {%- endfor %}
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            {%- if heading %}
            <h1>{{ heading }}</h1>
            {%- endif %}
        </header>

        <main>
            {{ content | safe }}
        </main>
        <footer class="h-card">
        <div class="bottom-ledge">
            <img class="sabr-logo u-photo" alt="a black & white digital image in a drawn style that represents me" loading="lazy" src="/assets/sabr-webvatar.png">
            <h2><a href="https://www.everythingsabr.me" class="u-url u-uid">everything sabr</a></h2>
        </div>
            <hr>
        <div class="nav-float-right">
<a href="/uses/index.html">uses</a><a href="/colophon/index.html">colophon</a><a href="/blog/index.html">blog</a>
        </div>
            <p>&copy; 2026 - <a href="/">sabr</a></p>
        </footer>
    </body>
</html>
