<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="dark light">
        {%- for link in relMe %}
        <link rel="me" href="{{ link }}">
        {%- endfor %}
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="alternate" type="application/atom+xml" title="everything sabr" href="/feed.xml">
    </head>

    <body>
        <header>
            <div class="masthead h-card">
                <img class="sabr-logo u-photo" alt="a black & white digital image in a drawn style that represents me" src="/assets/sabr-webvatar.png">
                <div class="masthead-title">
                    <a class="site-name u-url u-uid" href="https://everythingsabr.me">everything <span class="p-name">sabr</span></a>
                    <p class="p-note visually-hidden">A geeky, GenX netizen with interests in technology, video games, tabletop roleplaying, travel and nature.</p>
                </div>
            </div>
            <hr class="rule">
            <nav class="site-nav" aria-label="main">
                {%- set navItems = [
                    { label: "uses", url: "/uses/" },
                    { label: "colophon", url: "/colophon/" },
                    { label: "now", url: "/now/" },
                    { label: "blog", url: "/blog/" }
                ] %}
                {%- for item in navItems %}
                <a href="{{ item.url }}"{% if page.url.startsWith(item.url) %} aria-current="page"{% endif %}>{{ item.label }}</a>
                {%- endfor %}
            </nav>
            {%- if lastUpdated %}
            <p class="updated">updated {{ lastUpdated }}</p>
            {%- endif %}
        </header>

        <main>
            {%- if not hideHeading %}
            <h1>{{ heading or "home" }}</h1>
            {%- endif %}
            {{ content | safe }}
        </main>

        <footer>
            <p>&copy; 2026 - <a href="/">sabr</a> - <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> - <a href="/feed.xml">atom</a> - <a href="https://xn--sr8hvo.ws/previous">←</a>
<a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
<a href="https://xn--sr8hvo.ws/next">→</a></p>
        </footer>
    </body>
</html>
